/* Footer Component */

/* Newsletter */

.newsletter {
    background-color: #f195b2;
}

.newsletter-col-1,
.newsletter-col-2 {
    padding: 30px 50px;
}

.newsletter-col-1 {
    padding-left: 100px;
}

.newsletter-col-2 {
    padding-right: 100px;
}

.newsletter-col-1 p {
    color: white;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 20px;
}

.newsletter-col-2 input {
    width: 400px;
    padding: 10px;
    border: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.newsletter-col-2 button {
    border: none;
    padding: 10px 30px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.newsletter-col-2 button span {
    font-size: 14px;
    font-weight: 500;
    color: dimgrey;
}

.row {
    margin: 0px;
}

/* Footer */

.footer {
    background-color: #303339;
    color: white;
}

.info {
    padding-left: 50px;
}

.footer-main {
    padding: 30px 80px;
}

.footer h1 {
    color: #f195b2;
    font-family: 'Times New Roman', Times, serif;
    font-size: 3.5rem;
    opacity: 0.8;
    margin: 10px 0px;
}

.footer h2 {
    font-size: 20px;
    margin: 30px 0px;
}

.footer i {
    opacity: 0.8;
    margin: 10px;
    font-size: 20px;
}

.footer i:hover {
    color: #f195b2;
}

.footer p {
    opacity: 0.3;
    font-size: 15px;
}

.footer h4 {
    font-size: 18px;
    color: white;
    opacity: 0.7;
}

.footer h5 {
    font-size: 14px;
    color: white;
    opacity: 0.7;
}

.footer hr {
    color: dimgrey;
}

.copyright {
    text-align: center;
    padding: 10px;
    line-height: 1;
}

.copyright span {
    color: #f195b2;
}


@media screen and (max-width:600px) {

    .newsletter-col-1,
    .newsletter-col-2 {
        padding: 30px 15px;
    }

    .newsletter-col-2 input {
        width: 100%;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }

    .newsletter-col-2 button {
        margin: 7px 0px;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
    }

    .footer-main {
        padding: 30px 15px;
    }

    .shop-info{
        padding: 0;
    }

    .info{
        padding:0;
    }
}